### Project ###
**/bundle/*
maven/settings.xml
**/MANIFEST.MF
**/node_modules/*
**/node/*

### Maven ###
target/
.m2/repository/
.mvn/

### IntelliJ IDEA ###
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/encodings.xml
!/.idea/prettier.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
/*.code-workspace
